html, main {
    height: auto;
    width: auto;
}

html, header, body, main, footer {
    padding: 0;
    margin: 0;
}

.yellow {
    color: #FFC107;
}

h3 {
    color: #212121;
    font-family: Lato;
    font-size: var(--Display-Medium-Size, 45px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: repeat(43, 40px);
    grid-template-rows: repeat(28, 40px);

}

nav {
    grid-column: 1 / 29;
    grid-row: 1 / 4;
    width: 1120px;
    height: 100px;
    flex-shrink: 1;
    border-radius: var(--Corner-None, 0px) var(--Corner-None, 0px) 1000px var(--Corner-None, 0px);
    background: #333;
    display: flex;
    align-items: center;
}

nav .logo {
    color: #FAFAFA;
    font-family: "Faster One";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 75%;
}
nav ul li a { 
    margin: 20px;
    color: #FAFAFA;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body main {
    background-color: #E0E0E0;
    height: 1117px;
    width: 1728px
}

body main .about_me{
    width: 760px;
    height: 600px;
    grid-column: 2/ 21;
    grid-row: 5 / 20;
    background-color: #FAFAFA;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body main .about_me p {
    color: #000;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body main .skill_bar{
    display: flex;
    flex-direction: column;
    grid-row: 5 / span 16;
    grid-column: 21 / span 10;
    justify-content: flex-start;
    align-items: flex-start;
}

body main .skill_bar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

body main .skill_bar ul .barTemplate {
    width: 400px;
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}

body main .skill_bar ul .barTemplate .barImg{
    width: 44px;
    height: 44px;
    margin-right: 0;
}

body main .skill_bar ul .barTemplate .barframe{
    width: 330px;
    height: 40px;
    background-color: none;
    border: 2px solid #333;
    border-radius: 40px;
    margin-left: 0;
}


#percent{
    color: #FFF;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 5%;
}

body main .skill_bar ul .barTemplate .barframe .detail{
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body main .skill_bar ul .barTemplate .barframe #html {
    width: 95%;
    background-color: #E44D26;
}

body main .skill_bar ul .barTemplate .barframe #css {
    width: 90%;
    border-radius: 40px;
    background-color: #1572B6;
}

body main .skill_bar ul .barTemplate .barframe #js {
    width: 70%;
    background-color: #F0DB4F;
}

body main .skill_bar ul .barTemplate .barframe #cpp {
    width: 85%;
    background-color: #5C8DBC;
}

body main .skill_bar ul .barTemplate .barframe #python {
    width: 50%;
    background-color: #3C78A9;
}

body main .skill_bar ul .barTemplate .barframe #illustrator {
    width: 95%;
    background-color: #FAA625;
}

body main .skill_bar ul .barTemplate .barframe #photoshop {
    width: 45%;
    background-color: #80B5E2;
}

body main .skill_bar ul .barTemplate .barframe #sql {
    width: 95%;
    background-color: #0B7FCC;
}

body main .checkbox {
    display: flex;
    flex-direction: column;
    grid-row: 5 / span 16;
    grid-column: 32 / span 10;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

body main .checkbox ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main .checkbox ul .checkboxTemplate {
    width: 400px;
    height: 60px;
    background-color: #FAFAFA;
    border-radius: 40px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

body main .checkbox ul .checkboxTemplate p {
    color: #000;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

body main .checkbox .checkboxTemplate #check {
    position: relative;
    margin-left: auto;
}

footer {
    grid-column: 16 / span 28;
    grid-row: 25 / span 4;
    width: 1120px;
    height: 100px;
    flex-shrink: 1;
    border-radius: 1000px var(--Corner-None, 0px) var(--Corner-None, 0px) var(--Corner-None, 0px);
    background: #FFC107;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
}

footer p{
    color: #FAFAFA;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2%;
}